<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <mat-icon>home</mat-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <mat-icon>apps</mat-icon>
      <ion-label>分类</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <mat-icon>sms</mat-icon>
      <ion-label>消息</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <mat-icon>shopping_cart</mat-icon>
      <ion-label>购物车</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
